.Black-background {color: antiquewhite;}
.Black-background {background-color: black;}
.Sr {background-color: aquamarine;}
.green {background-color: rgb(10, 238, 74);}
.blue {background-color: blue;}
.red {background-color: rgb(182, 4, 4);}
.Sre {background-color: rgb(237, 200, 16);}
.Sree {background-color: #b50909;}


.yellow {background-color:brown;}
.purple {color: red;}
.resume-body {background-color: rgb(211, 180, 251);}
.d {background-color: #91f6f3;}
.l {background-color: rgb(8, 248, 252);}
.ll {background-color: rgb(32, 176, 167);}
.lll {background-color: rgb(16, 106, 109);}
h3 {color: #b50909;}
.contact-form {background-color: rgb(239, 9, 154);}
.contact-form {color: rgb(213, 242, 19);}
.Submit {background-color: #b50909;}
.Submit {color:burlywood;}
.contact-information {color: blue;}
.expo-green {background-color: rgb(111, 223, 111);}
.expo-yellow {background-color: rgb(249, 249, 114);}